templates/sendEmailLogicApp/sendEmailLogicApp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "emailRecipients": {
            "type": "string",
            "defaultValue": "janis.berzins@visma.com"

        },
        "workflowsName": {
            "defaultValue": "myWorkflow",
            "type": "string"
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
              "description": "Location for all resources"
            }
          }
    },
    "variables": {
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('workflowsName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "janis.berzins@visma.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/gmail')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflowsName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('workflowsName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "$id": "http://example.com/root.json",
                                    "$schema": "http://json-schema.org/draft-07/schema#",
                                    "definitions": {},
                                    "properties": {
                                        "message": {
                                            "$id": "#/properties/message",
                                            "default": "",
                                            "examples": [
                                                "good"
                                            ],
                                            "pattern": "^(.*)$",
                                            "title": "The Message Schema",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "title": "The Root Schema",
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Switch": {
                            "runAfter": {},
                            "cases": {
                                "Case": {
                                    "case": "good",
                                    "actions": {
                                        "Send_email_good": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "I'm feeling marvelous today",
                                                    "Subject": "Good",
                                                    "To": "[parameters('emailRecipients')]"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['gmail']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Mail"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "bad",
                                    "actions": {
                                        "Send_email_bad": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Body": "I'm feeling down today",
                                                    "Subject": "Bad",
                                                    "To": "[parameters('emailRecipients')]"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['gmail']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Mail"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@{triggerBody()['message']}",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "gmail": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('workflowsName'))]",
                                "connectionName": "[parameters('workflowsName')]",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/gmail')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "callbackUrl": {
            "type": "string",
            "value": "[listCallbackUrl(concat(resourceId('Microsoft.Logic/workflows', parameters('workflowsName')), '/triggers/manual'), '2016-06-01').value]"
          }
    }
}